@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FF3BFF;
  --secondary: #5C24FF;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#0A0A0A] font-sans;
  overflow-x: hidden;
}

::selection {
  background: rgba(255, 59, 255, 0.2);
}
